@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  /** Layouts, we are giving the common ones to oyu **/
  --layout-mobile: 375px;
  --layout-desktop: 1440px;

  /** Colours **/
  /* place your colours here */
  --bg-gradient: linear-gradient(135deg, #f9f9f9, #e0f7fa);
  --surface: rgba(255, 255, 255, 0.75);
  --card: rgba(255, 255, 255, 0.4);
  --primary: #00796b;
  --primary-dark: #004d40;
  --accent: #26a69a;
  --text-main: #333;
  --text-dark: #2c3e50;
  --text-light: #fff;
  --success: #2ecc71;
  --danger: #e74c3c;
  --warning: #f1c40f;


  /** Typography **/
  
  /* Font sizes */
  --fs-xl: 2rem;
  --fs-lg: 1.2rem;
  --fs-md: 1rem;

  /* Font weights */
  --fw-bold: 700;
  --fw-semi: 600;
  /* Font family */
  --ff:'Poppins', sans-serif;

  --space-1: 10px;
  --space-2: 20px;
  --space-3: 30px;
  --radius: 12px;
  --radius-lg: 20px;
  --shadow: 0 8px 20px rgba(0,0,0,0.08);
  --transition: 0.25s ease;
  --max-width: 550px;
}